<html><head>
    <title>Form</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
  </head><body>
    <div>
      <div></div>
    </div>
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h2 class="text-center">Data Input</h2>
            <hr>
          </div>
        </div>
      </div>
    </div>
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <form class="form-horizontal" method="post" role="form">
              <div class="form-group">
                <div class="col-sm-2">
                  <input type="hidden" name="csrfmiddlewaretoken" value="7r0m4bC9On8rcjIJMZiWXBJPubyd6gxX">
                  <label for="id_Nama" class="control-label">Nama</label>
                </div>
                <div class="col-sm-10">
                  <input id="id_Nama" name="Nama" type="text" class="form-control">
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-2">
                  <label for="id_NIM" class="control-label">NIM</label>
                </div>
                <div class="col-sm-10">
                  <input id="id_NIM" name="NIM" type="text" class="form-control">
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-2">
                  <label for="id_SKS" class="control-label">SKS</label>
                </div>
                <div class="col-sm-10">
                  <input id="id_SKS" name="SKS" type="text" class="form-control">
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  <button value="Submit" class="btn btn-info btn-sm">Submit</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  

</body></html>