<html><head>
        <title>Django Application Demo</title>
        <meta charset="utf-8">
        <!-- Use this for static files in django -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
        <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
        <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <link href="http://pingendo.github.io/pingendo-bootstrap/themes/default/bootstrap.css" rel="stylesheet" type="text/css">
    </head><body>
        <div class="cover">
            <div class="cover-image" style="background-image : url('http://cdn.paper4pc.com/images/blurred-wallpaper-5.jpg')"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h2 class="text-center">Django Application Demo</h2>
                        <p class="text-inverse">Try, Learn and Fork</p>
                        <hr>
                        <br>
                        <br>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-center">
                        <a href="http://localhost:8000/list"><i class="fa fa-5x fa-fw fa-pencil text-danger"></i></a>
                        <a href="#"><i class="fa fa-5x fa-adn fa-fw text-success"></i></a>
                        <a href="http://localhost:8000/admin/login/?next=/admin/"><i class="fa fa-5x fa-fw fa-user-md"></i></a>
                    </div>
                </div>
            </div>
        </div><div class="section"><div class="container"></div></div>
    

</body></html>